.primary{
    color: red;
}
.secondary{
    color: purple;
}
.third{
    color: blue;
}
.forth{
    color: brown;
}
.button{
    padding: 15px;
    font-style: bold;
    color: black;
    background-color: red;
    border-radius: 10px;
}